body{
    background-image: linear-gradient(30deg,#9a9a8e, #f5f0e4 );
    font-family: "courier",Arial;

}
nav ul{
    list-style: none;
}
ul a{
    color:black;
}
a{
    text-decoration: none;
}
header{
    background:#000000;
    position: absolute;
    top:0;
    right:0;
    left:0;
    height:100px;
    width: auto;
}
header p{
    text-align: center;
    color:#FFFFFF;
}
.project {
    max-width: 300px;
    max-height: 300px;
    display: inline-block;

}
.project img{
    width:150%;
    height: auto;
}
.project:hover img{
    filter:blur(2px) brightness(80%);
}
.project :not(a img){
    text-align: center;
    width:100%;
    z-index:-1;
    top:30%;
    opacity: 0;
}

.project:hover :not(a img){
     text-align: center;
     width:100%;
     z-index:-1;
     top:30%;
     opacity:1;
 }
.project h1{
    text-align: center;
    width:100%;
    z-index:-1;
    top:30%;
    opacity:0;
}
.project:hover h1{
    text-align: center;
    width:100%;
    z-index:-1;
    top:30%;
    opacity:1;
}
.centered {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}
#three.project{
    position: absolute;
    right: 1200px;
    bottom: 200px;
}

#two.project{
    position: absolute;
    right: 700px;
    bottom: 375px;
}

#one.project{
    position: absolute;
    right: 250px;
    bottom: 500px;
}

nav{
    background: #000000;
    padding: 0;
    margin: 0;
    border-radius:10px;
}

nav ul{
    background:#000000;
    list-style :none;
    margin-left:7%;
    padding : 0;

}
nav li a {
    color : #FFFFFF;
    display: block;
    float: left;
    padding: 20px;
    text-decoration : none;
}

nav a:hover, nav li.active a{
    background: #000000;
    color: #FFFFFF;

}